AMAZON_ADS_CLIENT_ID=
AMAZON_ADS_CLIENT_SECRET=
AMAZON_ADS_REFRESH_TOKEN=
AMAZON_ADS_REGION=NA
AMAZON_ADS_PROFILE_ID=
AMAZON_ADS_ACCOUNT_ID=
AMAZON_ADS_MANAGER_ACCOUNT_ID=
AMAZON_ADS_ACCEPT_LANGUAGE=en-US
AMAZON_ADS_TIMEOUT=30
AMAZON_ADS_CONNECT_TIMEOUT=10
AMAZON_ADS_MAX_RETRIES=3
AMAZON_ADS_RETRY_BASE_DELAY_MS=250
AMAZON_ADS_TOKEN_CACHE=true
